.Timers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .Timer {
    background-color: #000;
    color: #FFF;
    border-radius: 16px;
    padding: 20px;
    font-size: 16px;
    height: 400px;
    margin-top: 80px;
    padding: 24px;
  }
  
  .TimerTitle {
    margin-bottom: 10px;
  }
  
  