input {
    background-color: #111;
    border: 1px solid #333;
    padding: 8px;
    color: #FFF;
    border-radius: 8px;
    margin: 4px;
    font-size: 16px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    margin-bottom: 4px;
}

.input-label {
    width: auto;
    margin-right: 8px;
}

.input-field {
    width: 80px;
}
